@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
$font__manrope: 'Manrope', sans-serif;
$font__bold: 600;
$font__ebold: 800;
$font_para: 15px;

//colors
$ClSoCyan: hsl(174, 77%, 80%);
$ClStrCyan: hsl(174, 86%, 45%);
$ClgryRed: hsl(14, 92%, 95%);
$ClLRed: hsl(15, 100%, 70%);
$ClPBlue: hsl(226, 100%, 87%);
$ClWhite: hsl(0, 0%, 100%);
$ClVPaleBlue: hsl(230, 100%, 99%);
$ClLGrayBlue: hsl(224, 65%, 95%);
$ClLGrayBlue2: hsl(223, 50%, 87%);
$ClGBlue: hsl(225, 20%, 60%);
$ClDDBlue: hsl(227, 35%, 25%);





